@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSansCyrl-300.eot");
  src: local("../fonts/MuseoSansCyrl-300"), url("../fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: local("../fonts/MuseoSansCyrl-700"), url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-weight: 300;
  color: #333;
}

a {
  color: #333;
}

img {
  max-width: 100%;
}

.text_bold {
  font-weight: 700;
}

.container {
  max-width: 1210px;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.section {
  padding: 79px 0 82px;
}
.section_title {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
}

.button {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  background-color: #ffd200;
  transition: all 0.6s;
}
.button:hover {
  background-color: #ffe04d;
  cursor: pointer;
}

.input {
  height: 65px;
  padding: 0 26px;
  line-height: 65px;
  border-radius: 10px;
  border: 1px solid #dddddd;
}
.input:placeholder {
  font-size: 15px;
  color: #333;
}
.input:focus {
  border-color: #ffd200;
  outline: none;
}

.button_up {
  position: fixed;
  z-index: 1500;
  bottom: 50px;
  right: 20px;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 25px;
  color: #fff;
  border: none;
  border-radius: 50%;
  background: #ffd200;
  cursor: pointer;
  box-shadow: 0 6px 13px 0 rgba(0, 0, 0, 0.23);
  transform: rotate(90deg);
  transition: all 0.6s;
}
.button_up:hover {
  background-color: #ffe04d;
}

.arrows__left, .arrows__right {
  cursor: pointer;
}

.navbar {
  padding: 7px 0 4px;
}
.navbar_block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__info {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  text-align: right;
}
.navbar__contacts {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}
.navbar__address {
  color: #333;
  font-size: 13px;
}
.navbar__phone {
  margin-top: 9px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}
.navbar__button {
  width: 170px;
  height: 49px;
  margin-left: 30px;
  font-size: 13px;
  font-weight: 700;
}

.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}
.hero_block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
.hero_text {
  flex-basis: 50%;
  max-width: 510px;
}
.hero_text__title {
  margin-bottom: 40px;
  font-size: 41px;
  font-weight: 700;
  line-height: 55px;
}
.hero_text__subtitle {
  display: inline-block;
  margin-bottom: 69px;
  font-size: 20px;
  font-weight: 700;
}
.hero_list {
  margin: 0;
  padding: 0;
}
.hero_list__item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.hero_list__item:last-child {
  margin-bottom: 0;
}
.hero_list__image {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 30px;
  border-radius: 50%;
  border: 2px solid #ffd200;
}
.hero_list__text {
  max-width: 240px;
  font-size: 14px;
  line-height: 24px;
}
.hero_image {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-start;
  max-width: 570px;
  box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
}

.offer {
  position: relative;
  background-color: #a0918c;
  background: url(../img/offer/offer_bg.png) no-repeat;
  background-position: 136% center;
  background-size: contain;
}
.offer:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 50%;
  height: 100%;
  background-color: #fff;
}
.offer_block {
  position: relative;
  width: 50%;
  padding-right: 91px;
}
.offer__title {
  max-width: 350px;
  margin: 0 0 17px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
}
.offer__subtitle {
  display: block;
  margin-bottom: 30px;
  max-width: 235px;
  font-size: 16px;
}
.offer__form {
  margin-bottom: 27px;
}
.offer__input {
  width: 240px;
  margin-bottom: 30px;
}
.offer__input:first-child {
  margin-right: 10px;
}
.offer__input:last-child {
  padding-left: 33px;
}
.offer__button {
  width: 100%;
  height: 70px;
  font-size: 16px;
  font-weight: 700;
}
.offer__recall_block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 15px;
  line-height: 24px;
}
.offer__recall_block_call {
  max-width: 225px;
  margin-bottom: 7px;
}
.offer__recall_block_recall {
  max-width: 200px;
}

.portfolio {
  background-color: #f5f5f5;
  background: #f5f5f5 url(../img/portfolio/portfolio_pattern.jpg) repeat-y center left;
  background-size: 50%;
}
.portfolio__title {
  max-width: 790px;
  margin: 10px auto 93px;
  color: #000;
}
.portfolio__title_first_string {
  display: block;
}
.portfolio_slider {
  width: 1198px;
}

.arrows {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
}
.arrows__left, .arrows__right {
  width: 45px;
  height: 19px;
  overflow: hidden;
}
.arrows__image {
  width: 120px;
  max-width: 120px;
}
.arrows__image_right {
  margin-left: -75px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal_active {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.modal_dialog {
  position: relative;
  max-width: 450px;
  min-height: 200px;
  width: 90%;
  margin: auto;
  padding: 40px;
  background-color: #fff;
}
.modal_dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .container {
    max-width: 800px;
  }

  .hero {
    padding: 46px 0;
  }
  .hero_block {
    flex-direction: column;
  }
  .hero_text {
    max-width: 100%;
  }
  .hero_list {
    margin-bottom: 40px;
  }
  .hero_list__text {
    max-width: calc(100% - 55px);
  }
  .hero_image {
    max-width: 100%;
  }
  .hero_image .hero_image_picture {
    width: 100%;
  }

  .offer {
    background-position: 100% center;
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 15px;
  }
  .offer__button {
    font-size: 14px;
  }

  .portfolio__title_first_string {
    display: inline;
  }
  .portfolio_slider {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container {
    min-width: 280px;
    width: 100%;
  }

  .section {
    padding: 42px 0 50px;
  }

  .navbar {
    padding: 7px 0 15px;
  }
  .navbar__logo {
    width: 91px;
  }
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    width: 137px;
    height: 39px;
    margin-right: 4px;
    font-size: 10px;
    border-radius: 5px;
  }

  .hero {
    padding: 26px 0 51px;
  }
  .hero_text__title {
    margin-bottom: 6px;
    padding-left: 5px;
    font-size: 24px;
    line-height: 30px;
  }
  .hero_text__subtitle {
    margin-bottom: 28px;
    padding-left: 8px;
    font-size: 16px;
  }
  .hero_list__item {
    margin-bottom: 20px;
    margin-left: 3px;
  }
  .hero_list__image {
    margin-right: 15px;
  }
  .hero_list__text {
    font-size: 12px;
    line-height: 14px;
  }
  .hero_image {
    margin-left: 5px;
    margin-right: 7px;
  }

  .offer {
    padding-left: 1px;
    padding-right: 4px;
    background: #fff;
  }
  .offer_block {
    width: 100%;
    padding-right: 0;
  }
  .offer__title {
    max-width: 260px;
    margin-top: 8px;
    margin-bottom: 19px;
    font-size: 18px;
    line-height: 22px;
  }
  .offer__subtitle {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 17px;
  }
  .offer__form {
    margin-bottom: 22px;
  }
  .offer__input {
    margin-bottom: 8px;
    padding: 0 21px;
  }
  .offer__input:last-of-type {
    margin-bottom: 10px;
  }
  .offer__button {
    padding: 0 62px;
    line-height: 19px;
  }
  .offer__recall_block {
    padding-left: 6px;
  }

  .portfolio_slider__image {
    max-width: 246px;
    margin: auto;
  }
  .portfolio__title {
    margin: 0 auto 41px;
    font-size: 18px;
    line-height: 21px;
  }
  .portfolio__title_first_string {
    display: block;
  }

  .arrows {
    margin-top: 46px;
  }
}

/*# sourceMappingURL=style.css.map */
