@media (max-width: 1200px)
  .container
    max-width: 800px
    
  .hero
    padding: 46px 0
    &_block
      flex-direction: column
    &_text
      max-width: 100%
    &_list
      margin-bottom: 40px
      &__text
        max-width: calc(100% - 55px)
    &_image
      max-width: 100%
      .hero_image_picture
        width: 100%
  
  .offer
    background-position: 100% center
    background-size: cover
    &__input
      width: 100%
      margin-bottom: 15px
    &__button
      font-size: 14px
      
  .portfolio
    &__title
      &_first_string
        display: inline
    &_slider
      width: 100%

@media (max-width: 768px)
  .container
    min-width: 280px
    width: 100%
    
  .section
    padding: 42px 0 50px
    
  .navbar
    padding: 7px 0 15px
    &__logo
      width: 91px
    &__contacts
      display: none
    &__button
      width: 137px
      height: 39px
      margin-right: 4px
      font-size: 10px
      border-radius: 5px
  .hero
    padding: 26px 0 51px
    &_text
      &__title
        margin-bottom: 6px
        padding-left: 5px
        font-size: 24px
        line-height: 30px
      &__subtitle
        margin-bottom: 28px
        padding-left: 8px
        font-size: 16px
    &_list
      &__item
        margin-bottom: 20px
        margin-left: 3px
      &__image
        margin-right: 15px
      &__text
        font-size: 12px
        line-height: 14px
    &_image
      margin-left: 5px
      margin-right: 7px
        
  .offer
    padding-left: 1px
    padding-right: 4px
    background: #fff
    &_block
      width: 100%
      padding-right: 0
    &__title
      max-width: 260px
      margin-top: 8px
      margin-bottom: 19px
      font-size: 18px
      line-height: 22px
    &__subtitle
      margin-bottom: 25px
      font-size: 14px
      line-height: 17px
    &__form
      margin-bottom: 22px
    &__input
      margin-bottom: 8px
      padding: 0 21px
      &:last-of-type
        margin-bottom: 10px
    &__button
      padding: 0 62px
      line-height: 19px
    &__recall_block
      padding-left: 6px
  
  .portfolio
    &_slider
      &__image
        max-width: 246px
        margin: auto
    &__title
      margin: 0 auto 41px
      font-size: 18px
      line-height: 21px
      &_first_string
        display: block
  .arrows
    margin-top: 46px