.navbar
  padding: 7px 0 4px
  &_block
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    justify-content: space-between
    align-items: center
  &__info
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    text-align: right
  &__contacts
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-direction: column
  &__address
    color: #333
    font-size: 13px
  &__phone
    margin-top: 9px
    font-size: 20px
    font-weight: 700
    text-decoration: none
  &__button
    width: 170px
    height: 49px
    margin-left: 30px
    font-size: 13px
    font-weight: 700